body {
  font-family: candara;
  font-size: 24px;
  color: black;
  margin: 0;
  padding: 0;
  background-image: url('https://images.unsplash.com/photo-1453614512568-c4024d13c247?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGNhZmV8ZW58MHx8MHx8fDA%3D');
  overflow-x: hidden;
}

nav {
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 251, 27, 0.8);
  font-family: impact;
  font-size: 18px;
  padding: 25px;
  z-index: 10;
  transition: background-color 0.3s ease;
}

nav a {
  color: black;
  text-decoration: none;
  margin: 0 20px;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.3s ease;
}

nav .hamburger {
  display: none;
  font-size: 30px;
  color: #333;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  nav .menu {
    display: none;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  nav .menu.active {
    display: flex;
  }

  nav .hamburger {
    display: block;
  }

  nav a {
    padding: 10px;
    text-align: center;
    width: 100%;
    border-top: 1px solid #444;
  }
}

.container {
  padding: 20px;
}

.contact-header {
  text-align: center;
  margin-bottom: 40px;
}

.contact-header h1 {
  font-size: 36px;
  font-weight: 700;
  color: #333;
  animation: fadeIn 1s ease-out;
}

.contact-header p {
  font-size: 18px;
  color: #555;
}


.operation-hours {
margin-bottom: 40px;
text-align: center;
background-color: rgba(255, 255, 255, 0.8); 
padding: 10px 20px;
border-radius: 8px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
width: 80%; /* Reduce width of the table */
margin: 0 auto; 
}

.operation-hours h3 {
font-size: 24px; 
font-weight: 700;
margin-bottom: 15px;
}

.operation-hours table {
width: 100%;
margin-top: 15px;
border-collapse: collapse;
}

.operation-hours th, .operation-hours td {
padding: 8px; 
border: 1px solid #ddd;
text-align: center;
font-size: 14px; 
}

.operation-hours th {
background-color: rgba(255, 253, 152, 0.836);
font-weight: bold;
font-family: candara;
font-size: 24px;
}

.operation-hours td {
background-color: rgba(255, 255, 255, 0.8);
font-family: candara;
font-size: 20px;
}

/* Hover Effect */
.operation-hours tr:hover {
background-color: rgba(255, 251, 27, 0.3);
}

.operation-hours th:hover,
.operation-hours td:hover {
background-color: rgba(255, 251, 27, 0.6); 
cursor: pointer; 
}

.contact-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  animation: fadeIn 1.5s ease-out;
}

.contact-info div {
  width: 30%;
  background-color: rgba(255, 255, 255, 0.8); 
  padding: 20px;
  box-shadow: 0 4px 8px rgba(255, 251, 27, 0.8);
  border-radius: 8px;
  text-align: center;
  transition: transform 0.3s ease;
}

.contact-info div:hover {
  transform: translateY(-10px);
}

.contact-info div i {
  font-size: 40px;
  color: rgba(255, 0, 0, 0.644);
  margin-bottom: 15px;
  transition: color 0.3s ease;
}

.contact-info div p {
  font-size: 16px;
  color: #555;
}

.contact-form {
  background-color: rgba(255, 253, 152, 0.836);
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: fadeIn 2s ease-out;
}

.contact-form h2 {
  font-size: 30px;
  margin-bottom: 20px;
  color: black;
  font-family: candara;
}

.contact-form label {
  font-size: 16px;
  color: #333;
  display: block;
  margin-bottom: 10px;
}

.contact-form input, .contact-form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

.contact-form textarea {
  resize: vertical;
  height: 150px;
}

.contact-form button {
  background-color: rgba(255, 251, 27, 0.8);
  color: black;
  padding: 15px 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  font-family: impact;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: gainsboro;
}

.map-container {
  margin-top: 40px;
  text-align: center;
  animation: fadeIn 2.5s ease-out;
}

.map-container iframe {
  width: 100%;
  height: 450px;
  border: none;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.map-container iframe:hover {
  transform: scale(1.05);
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal {
  display: none; 
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.4); 
  padding-top: 60px;
}

.modal-content {
  background-color:rgba(255, 253, 152, 0.836) ;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%; 
  height: 15%;
  text-align: center;
  border-radius: 8px;
  font-family: candara;
  font-size: 24px;
}

.close-btn {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 25px;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
